<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name='viewport' content='width=device-width' />

	<title>how many comments are there on reddit.com?</title>
	<meta name="description" content="Watch the countdown to reddit's 30 billionth post"/>

	<link rel="shortcut icon" href="/favicon.png"> 
	<link rel="apple-touch-icon" href="/favicon.png"> 

	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono" rel="stylesheet">
	<link rel="stylesheet" href="/css/normalize.css" type="text/css">
	<link rel="stylesheet" href="/css/main.css?v=<%= settings.version %>" type="text/css">
	<script type='text/javascript' src='/js/jquery-2.1.4.min.js'></script>

	<% if defined? _js %>
	<script type='text/javascript'>
		_js = <%== _js.to_json %>;
	</script>
	<% end %>

	<%== yield_content :header if content_for? :header  %>

</head>

<body>
<%== yield_content :body %>


<div class='footer-line'>
	<a href='https://github.com/reednj/reddit-counter'><%= settings.simple_version %></a> |
	<a href='http://reednj.com'>reednj</a> 2017 |
	<a href='http://reddit-stream.com'>reddit-stream.com</a> |
	<a href='http://twitter.com/reddit_random'>@reddit_random</a>
	<% if defined? comments %>
	| <span id='comment-rate-text'><%= comments.rate.value.round(1) %> comments/sec</span>
	<% end %>
</div>

<% if settings.production? %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57284-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57284-13');
</script>
<% end %>

</body>
</html>
