
<% content_for :header do %>
	<title>how many comments are there on reddit.com?</title>
	<meta name="description" content="Watch the countdown to reddit's 30 billionth post"/>

	<script type='text/javascript' src='/js/app.js?v=<%= settings.version %>'></script>

	<script type='text/javascript'>
	$(document).ready(() => window._app = new App(_js).start());
	</script>
<% end %>

<% content_for :body do %>
<div class='header-line'>how many comments are there on <a href='http://reddit.com'>reddit.com?</a></div>

<div class='comments counter' >
	<div class='count'><%= comments.estimated_count.to_n0 %></div>
</div>

<div class='milestone'>Estimate for the 30 billionth comment: <%= milestone %></div>

<div class='recent-comment'>
	<a class='refresh-link' href='#'>&#x21bb;</a>
	<span>...</span> 
	<a class='comment-link' href='#'>&#x21e5</a>
	(<a class='user-link' href='#'>...</a>) 
</div>

<div class='footer-line'>
	<a href='https://github.com/reednj/reddit-counter'><%= settings.simple_version %></a> |
	<a href='http://reednj.com'>reednj</a> 2017 |
	<a href='http://reddit-stream.com'>reddit-stream.com</a> |
	<a href='http://twitter.com/reddit_random'>@reddit_random</a> |
	<span id='comment-rate-text'><%= comments.rate.value.round(1) %> comments/sec</span>
</div>

<!-- data updated <%= (comments.count.created_date.age / 60).round  %>m ago -->
<!-- current rate is <%= comments.rate.value.round(1) %> comments/sec -->
<% end %>

